#sidebar {
    position: relative;
    .list-group{
        border: 1px solid #eee;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border-radius: 4px;
        background-color: #fff;
         a.list-group-item {
            color: #666;
            font-size: 8pt;
            text-transform: uppercase;
            letter-spacing: 1px;
            background-color: transparent;
            border: none;
            padding: 12px 15px;
            border-left: 5px solid #fff;
            &:first-of-type {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
            &:last-of-type {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
            .badge {
                background-color: #9564CF;
                color: #fff;
            }
            i {
                color: #000;
                position: relative;
                top: 3px;
            }
            &.v-link-active {
                border-left: 5px solid $accent-color;
            }
            &:hover, &:active {
                color: $accent-color;
                border-left: 5px solid $accent-color;
                .badge {
                    background-color: $accent-color;
                    color: #fff;
                }
                i {
                    color: $accent-color;
                }
            }
            &.user {
                padding: 15px;
                text-transform: none;
                border: none;
                border-bottom: 1px solid #eee;
                &:hover, &:active {
                    color: #666;
                    background-color: #fff;
                }
                .gh-avatar {
                    width: 25%;
                    border: 5px solid #fff;
                    border-radius: 50px;
                }
                .stats {
                    position: relative;
                    width: 70%;
                    p {
                        padding: 3px;
                        margin: 5px 0px 0px 0px;
                        position: relative;
                        &:after {
                            color: #000;
                            font-family: FontAwesome;
                            position: absolute;
                            right: 0px;
                            top: 3px;
                            z-index: 100;
                            pointer-events: none;
                        }
                        &.rank:after {
                            content: "\f02e";
                        }
                        &.usr:after {
                            content: "\f007";
                        }
                    }
                }
            }
        }
    }
}
