ul.typeahead {
    position: absolute;
    width: 100%;
    li {
        color: $accent-color;
        cursor: pointer;
        &:hover {
            color: #fff;
            background-color: $accent-color;
        }
        img {
            width: 40px;
        }
        span {
            font-size: 16px;
            margin-top: 8px;
        }
    }
}
