#main {
    position: relative;
    margin-top: -90px;
    h1:first-child {
        color: #fff;
        font-size: 25px;
        font-weight: 300;
        margin-bottom: 40px;
        margin-top: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    h2 {
        color: $primary-color;
        font-size: 18px;
        border-bottom: 2px solid lighten($primary-color, 33%);
        padding-bottom: 12px;
    }
}

.btn-primary {
    border: 2px solid;
    &:hover, &:active {
        color: #fff;
        background-color: $btn-primary-color;
    }
    &.inverse {
        color: #fff;
        border-color: #fff;
        &:hover, &:active, &:focus {
            color: $btn-primary-color;
            background-color: #fff;
        }
    }
}

.navbar-static-top {
    z-index: 0;
}

.modal {
    .modal-header {
        background-color: $primary-color;
        color: #fff;
        text-transform: uppercase;
        .modal-title {
            font-weight: 300;
            font-size: 16px;
        }
        .close {
            color: #fff;
            text-shadow: none;
            opacity: 1;
            filter: none;
        }
    }
    .modal-content {
        border-radius: 0px;
        border: 3px solid $primary-color;
    }
}

.form-header {
    float: right;
    position: relative;
    top: -65px;
}

.user-hero {
    display: inline-block;
    width: 20%;
    font-size: 9px;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    img {
        width: 37%;
    }
    & > div {
        margin-left: 10px;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
    &.earth {
        color: #0C4C00;
        background-color: #D8FFD1;
    }
}
