@import url(https://fonts.googleapis.com/css?family=Lato);

$stash-primary: #9564CF;
$font-family-sans-serif: 'Lato', sans-serif;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-bg: $stash-primary;
$border-radius-base: 0px;
$brand-primary: darken($stash-primary, 6.5%);
$btn-primary-bg: transparent;
$btn-primary-color: $brand-primary;
$btn-primary-border: $btn-primary-color;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
