/**
 * Fonts
**/
@import url(https://fonts.googleapis.com/css?family=Lato);
$font-family-sans-serif: 'Lato', sans-serif;

/**
 * Colors
**/
$primary-color: #212121;

$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-bg: $primary-color;
$brand-primary: darken($primary-color, 6.5%);
$btn-primary-bg: transparent;
$btn-primary-color: $brand-primary;
$btn-primary-border: $btn-primary-color;

/**
 * Components
**/
$border-radius-base: 0px;
